.App {
  height: 100vh;
  width: 100vw;
  /*background-image: url("https://res.cloudinary.com/rezdelamasa/image/upload/v1565801596/ApexLegend/app-background.jpg");*/
  background-color: #CDC9BF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
