.category__card {
	height: 100%;
	/*background-color: red;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	min-width: 300px;
}

.category__card:hover {
	cursor: pointer;
}

.category__card:hover .category__background {
	filter: contrast(0.2);
	filter: brightness(150%);
}

.category__card:hover .category__heading {
	transform: scale(1.2);
	text-shadow: 1px 3px 0 #333, 1px 15px 8px rgba(20,20,20,0.5);
}

.category__card--left, .category__card--right {
	height: 95%;
}

.category__card--main {
	 height: 100%;
	 min-height: 100%;
	 width: 65%;
}

.category__card--top {
	background-color: #972930;
}

.category__card--bottom {
	background-color: #191816;
}


.category__card--middle .category__heading {
	font-size: 10rem;
	text-shadow: 1px 3px 0 #333, 1px 15px 5px rgba(20,20,20,0.5);
}

.category__background {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 0;
}

.category__heading {
	color: white;
	margin: 0;
	position: relative;
	z-index: 1;
	font-size: 3rem;
	text-shadow: 1px 3px 0 #333, 1px 13px 5px rgba(20,20,20,0.5);
	letter-spacing: 2px;
}